@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;600;700&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    /* border-radius: 0 0 50% 0 / 0 0 50% 0; */
    font-family: 'Poppins', sans-serif;
}

.landing-page{
    height: 114vh;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 1)50%), url('../Assets/landing-bg.jpg') no-repeat right center fixed;
    /* background-size: 100%; */
    background-size: cover;
    border: 2px solid rgba(0, 0, 0, 0);
    /* height: 100%; */
    /* position: static; */
}


/* reset */

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    display: inline;
    background-color: transparent;
    border: none;
}





/* header */

.header{
    /* background-color: transparent; */
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid #3333331e;

}

.img-logo{
    position: absolute;
    top: -5px;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    margin-bottom: 2.6rem;
    /* border: 1px solid red; */
}

/* .logo{
    /* border: 2px solid green; */


ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid yellow; */
}

li a:hover {
    color: #4894f6;
    text-shadow: #96c3ff;
}

.sign {
    width: 12%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-around;
}

.sign-in, .sign-up{
    padding: 0.8rem;
    background-color: #f6d816;
    border-radius: 20px;
    color: rgb(23, 23, 23);
    font-size: 14px;
}

.sign-in:hover, .sign-up:hover{
    background-color: #3c79c9;
    color: #ecf4ff;
}

.main{
    margin-inline: 5rem;
    position: relative;
}

.text-content{
    width: 45%;
    border-radius: 15px;
    /* border: 1px solid yellow; */
    background-color: rgb(238, 238, 238);
}

.text-content .color{
    background: #4894f6;
    border-radius: 15px;
    /* height: 100px; */
    padding: 2rem;
}

.color h3 {
    color: white;
    font-weight: 300;
    background-color: #3c79c9;
    display: block;
    width: 30%;
    padding: 0.8rem;
    border-radius: 30px;
}

.move{
    position: relative;
    /* z-index: ; */
    animation: moves 2s ease-in-out infinite;
}

@keyframes moves{
    0% { left: 0; }
    50% { left: 65%; }
    100% { left: 0; }
}

.text-content .text{
    width: 60%;
    padding: 1.5rem;
}

.text h1 {
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 0.7rem;
}
.text p {
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.site-btn{
    font: inherit;
    position: relative;
    border: none;
    background-color: #f6d816;
    padding: 10px;
    font-size: 19px;
    border-radius: 50px;
    z-index: 1;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.408);
}

.jinx {
    height: 680px;
    position: absolute;
    top: 0px;
    left: -70px;
    /* z-index: -1; */
    /* right: 10px; */
}

.site-btn:hover{
    background-color: #3c79c9;
    color: #ecf4ff;
}

/* Home Page */

.main-home{
    /* margin-inline: 1rem; */
    display: flex;
    justify-content: space-around;
}

.visual-nav{
    width: 20%;
    /* border: 2px solid red; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.visual-nav h2{
    font-weight: 600;
    font-size: 16px;
    margin-block-end: 1rem;
}

.visual-nav .games{
    background: url("../Assets/games-bg.png") no-repeat;
    /* background-size: cover; */
    background-size: 200px;
    background-position-x: right;
    background-position-y: bottom;
    /* border: 3px solid black; */
    border-radius: 25px;
    padding: 1rem;
    background-color: #ecf4ff;
    margin-block-end: 1rem;
}

.games img {
    height: 100px;
    display: block;
}

.visual-nav a{
    display: block;
    border-radius: 25px;
    background-color: #f6d816;
    padding: 5px;
    margin-block: 1rem;
    width: 50%;
}

.visual-nav a:hover {
    background-color: #3c79c9;
    color: white;
}


.streams{
    border-radius: 25px;
    padding: 1rem;
    background-color: #ecf4ff;
    margin-block-end: 1rem;
    overflow: hidden;
}

.streams .streams-cover{
    display: flex;
}

.streams img{
    border-radius: 20px;
    height: 80px;
    margin-inline-end: 0.7rem;
}

.matches{
    height: 20%;

    background: url("../Assets/matches-bg.png") no-repeat;
    background-size: cover;
    /* background-position-x: right; */
    /* background-position-y: bottom; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 25px;
    padding: 1rem;
    background-color: #ecf4ff;
    margin-block-end: 1rem;
}

.last-streams{
    border-radius: 25px;
    padding: 1rem;
    background-color: #ecf4ff;
    margin-block-end: 1rem;
}

.prev-stream{
    display: flex;
    /* justify-content: space-between; */
    text-align: left;
    margin-block: 1rem;
}

.prev-stream img{
    height: 70px;
    aspect-ratio: 0.9/1;
    object-fit: cover;
    display: block;
    margin-inline-end: 0.5rem;
    border-radius: 5px;
}


.hero-container{
    width: 65%;
    margin-right: 2rem;
}

.hero-banner{
    position: relative;
    background-color: #3c79c9;
    border-radius: 30px;
    color: white;
    padding: 1rem;
} 

.hero-banner h1{
    /* font-weight: 700; */
    font-size: 50px;
}

.hero-banner p{
    width: 30%;
    margin-block: 1rem;
    font-size: 10px;
}

.hero-banner h4{
    font-size: 20px;
}

.hero-banner .hero-btn{
    border: none;
    border-radius: 30px;
    background-color: #f6d816;
    padding: 0.5rem;
    margin-block: 1rem;
}

.hero-banner .hero-image{
    height: 380px;

    position: absolute;
    top: -118px;
    left: 150px;
    object-fit: cover;
    /* overflow-x: hidden; */
}

.top-players{
    margin-block: 4rem;
    /* border: 2px solid black; */
    /* border-bottom: 1px solid #333; */
}

.player-box{
    display: flex;
    justify-content: space-between;
}

.player-card{
    background-color: #f3f3f3;
    background: linear-gradient(45deg, #3c79c9 15%, #f3f3f3 50%);
    padding: 1rem;
    border-radius: 20px;
    position: relative;
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    color: #161616;
    margin-top: 1.5rem;
    box-shadow: -3px 3px 10px #333;
}

.res-fav-character{
    height: 300px;
    position: absolute;
    top: 50px;
    left: 40px;

    /* bottom: ; */
}


.trophy{
    height: 40px;
    object-fit: contain;
}

.rating{
    background-color: #d0d0d0;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
}

.match-timer{
    border-radius: 15px;
    background-color: #f6d816;
    padding: 10px;
}

.match-timer h2{
    font-size: 16px;
}

.stream-timeline{
    background-color: #ecf4ff;
    padding: 4rem;
    border-radius: 30px;
    position: relative;
    /* color: whit; */
}

.stream-timer{
    width: 25%;
    background-color: #3c79c9;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    position: absolute;
    top: 30px;
    left: 30px;
}
.stream-timer h3{
    color: white;
    font-weight: 300;
    font-size: 14px;
}

.stream-timer .time-left{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    /* border: 2px solid yellow; */
    width: 100%;
}

.time-left p{
    font-weight: 300;
    font-size: 10px;
    color: white;
}

.hour, .minute, .second{
    display: block;
    background-color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
}

.stream-container .img{
    /* height: 350px; */
    overflow: hidden;
    /* width: 100% */
    object-fit: cover;
    /* border: 2px solid yellow; */
    border-radius: 20px;
}

.img .stream-img{
    height: 400px;
    /* border: 3px solid black; */
    width: 100%;
    object-fit: cover;
}

.stream-timeline .match-timer{
    width: 12%;
    text-align: center;
    position: absolute;
    top: 440px;
    left: 800px;
    z-index: 1;
}

.stream-overlay{
    height: 200px;
    position: absolute;
    /* top: 15bit0px; */
    bottom: 0;
    right: -0px;
    /* z-index: ; */
}

.footer{
    /* margin-inline: 2rem; */
    margin-block-start: 6rem;
    margin-block-end: 4rem;
}

.footer .hero-banner{
    width: 60%;
    margin-inline: auto;
}

.footer h1{
    position: relative;
    z-index: 2;
    /* width: 50%; */
    /* border: 3px solid black; */
}



.footer .hero-image{
    height: 370px;

    position: absolute;
    top: -107px;
    left: 240px;
    object-fit: cover;
}

.footer .copyright{
    background-color: #96c3ff;
    position: absolute;
    /* width: 110%; */
    top: 1930px;
    /* display: inline; */
    width: 100vw;
    text-align: center;
}

/* Profile page */

.content{
    width: 75%;
}

.content .profile{
    display: flex;
    flex-direction: column;
}

.profile .name{
    background-color: #3c79c9;
    /* background: url("../Assets/backdrop-profile.png"); */
    padding: 2rem;
    /* display: flex; */
    border-radius: 35px;
    height: 200px;
    position: relative;
}

.bg-img{
    height: 400px;
    position: absolute;
    right: -500px;
    bottom: 80px;
    object-fit: cover;
    /* border: 2px solid yellow; */
}

.name h5{
    font-weight: 300;
    color: white;
}
.name h4{
    font-weight: 300;
    /* color: white; */
}

.name span{
    background-color: #f6d816;
    font: inherit;
    padding: 3px;
    border-radius: 10px;
}

.name h1{
    color: white;
    font-size: 32px;
    margin-bottom: 1rem;
}

.profile .profile-picture{
    height: 200px;
    object-fit: cover;
}

.dp{
    border: 6px solid white;
    border-radius: 100%;
    overflow: hidden;
    height: 190px;
    aspect-ratio: 1/1;
    background-color: #4894f6;
    margin-right: 1.5rem;
}

.name .absolute{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -80px;
}

.name .backdrop-text{
    font-size: 100px;
    text-align: end;
    opacity: 0.3;
    /* border-radius: 2px solid black; */
    /* color: black; */
}

.analytics{
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    /* gap: 3rem; */
    flex-flow: row wrap;
    background-color: #efefef;
    padding: 1rem;
    border-radius: 20px;
}

.box{
    margin-block: 20px;
}

.level-box{
    border: 1px solid #3c79c9;
    height: 25px;
    width: 110px;
}

.measure-graph{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
}

.red{
    background-color: rgb(210, 0, 0);
}

.blue{
    background: linear-gradient(to right, #3c79c9 60%, white);
}

.green{
    background-color: rgb(8, 255, 8);
}

.hall-of-fame{
    background-color: #3c79c9;
    /* background: url("../Assets/reward-bg.png");
    background-repeat: no-repeat;
    background-size: cover; */
    padding: 1rem;
    color: white;
    border-radius: 30px;
    margin-block: 3rem;
    height: 300px;
    position: relative;
    /* display: flex; */
}

.rewards{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -40px;
    width: 90%;
    margin-inline: 2rem;
    z-index: 1;
    /* border: 2px solid yellow; */
}

.rewards img{
    height: 70px;
}

.rewards div{
    background-color: white;
    color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.reward-bg{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 350px;
}

/* Sign up page */

.main-sign{
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0.84) 100%), url('../Assets/league-of-legends-poster.jpg') no-repeat right center fixed;
    border: 1px solid transparent;
    background-size: cover;
}

.signup-main{
    margin-inline: auto;
    margin-block: 2rem;
    padding: 2rem;
    width: 50%;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ededed;

    border-radius: 30px;
}

.sign-up-heading {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  form {
    display: inline-block;
    text-align: left;
    width: 100%;
    margin-bottom: 50px;
  }
  
  label {
    display: block;
    font-size: 20px;
    width: 100%;
    /* margin-bottom: 10px; */
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    border: none;
    background-color: #3c79c9;
    color: #fff;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #f6d816;
    color: #0e0e0e;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #b4080f;
  }


  /* Loader */

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecf4ff;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #3c79c9;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading{
    from {
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}